<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration file for the logging. -->
<!-- Status = "trace", "debug", "info", "warn", "error" and "fatal" -->
<Configuration status="trace"
			   packages="interfacebuilder.ui.progress">
	<!-- Put 'Log4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector'
		into log4j2.component.properties file for async loggers. But they cause errors
		for me. -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg %ex%n"/>
		</Console>
		<StylizedTextAreaAppender name="JavaFXLogger">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} - %m %ex%n"/>
		</StylizedTextAreaAppender>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RandomAccessFile name="FileLastRun"
						  fileName="${sys:user.home}/.GalaxyObsUI/logs/compile_lastRun.log"
						  immediateFlush="false" append="false">
			<PatternLayout
					pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg %ex%n"/>
		</RandomAccessFile>
	</Appenders>
	<Loggers>
		<!-- Active Loggers -->
		<!-- Level = "trace", "debug", "info", "warn", "error", "fatal" -->
		<!-- includeLocation is slow, but shows code lines -->
		<Root level="trace" includeLocation="false">
			<AppenderRef ref="Console" level="info"/>
			<AppenderRef ref="JavaFXLogger" level="info"/>
			<AppenderRef ref="FileLastRun" level="trace"/>
		</Root>
	</Loggers>
</Configuration>
