<?xml version="1.0" encoding="utf-8" standalone="no"?><configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section allowExeDefinition="MachineToLocalUser" name="CASCConsole.Properties.Settings" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime sku=".NETFramework,Version=v4.5.2" version="v4.0"/>
    </startup>
    <userSettings>
        <CASCConsole.Properties.Settings>
            <setting name="StoragePath" serializeAs="String">
                <value>C:\Spiele\StarCraft II</value>
            </setting>
            <setting name="OnlineMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Product" serializeAs="String">
                <value>sc2</value>
            </setting>
            <setting name="Locale" serializeAs="String">
                <value>enUS</value>
            </setting>
        </CASCConsole.Properties.Settings>
    </userSettings>
</configuration>