/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#menuOpen > .label{
    -fx-graphic: url("/res/open.png");
}
#menuOpen .accelerator-text{
    -fx-graphic: none;
}

#menuSave > .label{
    -fx-graphic: url("/res/save.png");
}
#menuSave .accelerator-text{
    -fx-graphic: none;
}

#menuSaveAs > .label{
    -fx-graphic: url("/res/save.png");
}
#menuSaveAs .accelerator-text{
    -fx-graphic: none;
}
