<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration file for the logging. -->
<configuration>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FileLastRunAsync" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FileLastRun"/>
		<queueSize>256</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<includeCallerData>false</includeCallerData>
		<maxFlushTime>1000</maxFlushTime>
		<neverBlock>false</neverBlock>
	</appender>
	<appender name="FileLastRun" class="ch.qos.logback.core.FileAppender">
		<file>${user.home}/.GalaxyObsUiSettingsEditor/logs/settingsEditor_lastRun.log</file>
		<append>false</append>
		<encoder>
			<pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}: - %msg %n</pattern>
		</encoder>
	</appender>

	<!-- Level = "trace", "debug", "info", "warn", "error", "OFF" -->
	<root level="trace">
		<!-- Active Loggers -->
		<appender-ref ref="Console"/>
		<appender-ref ref="FileLastRunAsync"/>
	</root>

</configuration>