/* JavaFX CSS */
/* java fx default css is: jfxrt.jar/com/sun/javafx/scene/control/skin/modena/modena.css . */

/* Specific Styling */
#menuOpen > .label{
    -fx-graphic: url("/res/open.png");
}
#menuOpen .accelerator-text{
    -fx-graphic: none;
}

#menuSave > .label{
    -fx-graphic: url("/res/save.png");
}
#menuSave .accelerator-text{
    -fx-graphic: none;
}

#menuSaveAs > .label{
    -fx-graphic: url("/res/save.png");
}
#menuSaveAs .accelerator-text{
    -fx-graphic: none;
}



/* Generic Styling: */

.root {
	-fx-base: #323232;
	-fx-background: derive(-fx-base,30.0%);
	-fx-control-inner-background: derive(-fx-base,-10.0%);
	-fx-accent: #FFB81A;
	-fx-default-button: derive(-fx-accent,50.0%); /* similar to accent */ 
	-fx-focus-color: derive(-fx-accent,50.0%);
	-fx-faint-focus-color: #D3A80322;
	-fx-pressed-base: derive(-fx-base,-12.0%);
	-fx-cell-hover-color: #F8CBA5;	/* ? */
	-fx-selection-bar-non-focused: #75540A;
	-fx-control-inner-background-alt: derive(-fx-control-inner-background,6.0%);
}

.menu-bar {
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30.0%));
}

.tab-pane .tab:selected
{
	-fx-background-color: -fx-selection-bar-non-focused;
}


.table-cell {
	-fx-alignment: CENTER-LEFT;
	-fx-wrap-text: true;
}
.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30.0%));
    -fx-background-insets: 1.0;
	-fx-border-color: derive(-fx-color,40.0%);
}

.context-menu {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-accent,30.0%),
            derive(-fx-accent,-30.0%)
        ),
        -fx-control-inner-background;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0, 0.0 5.0 5.0 5.0, 0.0 4.0 4.0 4.0;
}

.scroll-bar > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, linear-gradient(to bottom,
            ladder(
                -fx-color,
                derive(-fx-color,58.0%) 75.0%,
                derive(-fx-color,60.0%) 80.0%
            ),
            derive(-fx-color,42.0%));
}
.scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, linear-gradient(to right,
    	derive(-fx-color,60.0%) ,derive(-fx-color,44.0%)
    );
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, linear-gradient(to bottom,
            ladder(
                -fx-color,
                derive(-fx-color,58.0%) 75.0%,
                derive(-fx-color,60.0%) 80.0%
            ),
            derive(-fx-color,42.0%));
}

.dialog-pane:header *.header-panel *.label{
    -fx-font-size: 18.0px;
    -fx-font-style: italic;
    -fx-padding: 2.0em, 0.0em, 0.0em, 0.0em;
}
