.ERROR {
    -fx-fill: #ff3f3f;
	-fx-font-size: 16;
}

.FATAL {
    -fx-fill: red;
	-fx-font-size: 18;
}

.WARN {
    -fx-fill: yellow;
	-fx-font-size: 14;
}

.INFO {
    -fx-fill: white;
}

.TRACE {
    -fx-fill: white;
}

.printlog {
	-fx-fill: white;
}